
nav img{
    width: 15rem;
    height: auto;
}

nav, footer{
    background-color: #00205f;
}

footer{
    color: white;
}

.btn-secondary{
    background-color: #0d6efd;
    border: none;
}

.btn-secondary:hover{
    background-color: #0b5ed7;
}

.fa-bars{

}